<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxXZLdhu7JUV6eLdY_z9asOi25pKUu4aE</string>
	<key>GCM_SENDER_ID</key>
	<string>195149743395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matchApp</string>
	<key>PROJECT_ID</key>
	<string>matchapp-b63fa</string>
	<key>STORAGE_BUCKET</key>
	<string>matchapp-b63fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195149743395:ios:d190e524f07adc04c1f896</string>
</dict>
</plist>